*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

/* UTILITY */
:root{
    --bg-header: #ff6900;
    --bg-footer: #1a1a1a;
    --sales-red: #ff0000;
    --eco-green: #008000;
}
.debug{
    border: 2px solid white;
}
.d-flex{
    display: flex;
}
.middle{
    max-width: 1200px;
    margin: 0 auto;
}
/* HOVER EFFECT */
.img-b{
    display:none;
}
.photo-container:hover .img-b{
    position:absolute;
    top: 0;
    left: 0;
    display:block;
    z-index: 1;
    cursor: pointer;
}
.wishlist:hover{
    color: var(--sales-red);
    cursor: pointer;
}
/* HEADER */
header{
    background-color: var(--bg-header);
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
.h-container{
    justify-content: space-between;
    align-content: center;
}
.logo{
    justify-content: center;
}
.logo > img{
    width:20%;
}
.account, nav{
    align-items: center;
}
ul{
    list-style: none;
    gap:10px;
}
a{
    text-decoration: none;
    color: white; 
}

/* MAIN */
.card-container{
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 50px 0 0 0;
}
.card{
    width: 32%;
    margin-bottom: 50px;
    
}
.card, .description{
    flex-flow: column wrap;
}
.photo-container{
    position: relative;
}
.card-photo{
    width: 100%;
}
.sales{
    background-color: var(--sales-red);
    position:absolute;
    bottom:40px;
    left: 0;
}
.eco{
    background-color: var(--eco-green);
    position:absolute;
    bottom:40px;
    left: 50px;
}
.eco-6{
     background-color: var(--eco-green);
    position:absolute;
    bottom:40px;
    left:0;
}
.sales, .eco, .eco-6{
    color: white;
    padding:3px 8px;
    z-index:1;
}
.wishlist{
    background-color: white;
    font-size: 25px;
    padding: 3px 10px;
    position: absolute;
    top: 10px;
    right: 0;
    z-index:1;
}
.price{
    color: var(--sales-red);
}
.listprice{
    text-decoration:line-through;
}
/* FOOTER */
footer{
    background-color: var(--bg-footer);
}
.f-container{
    justify-content: space-between;
}
.info, .social{
    padding: 20px 0;
}
h4{
    font-size:18px;
}
.agency, .info-link{
    color: white;
    padding: 5px 0;
}
.social{
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
    gap: 10px;
}
.social > span{
    color: white;
    font-size:12px;
    text-align: center;
}
